.pitch-container {
  position: absolute;
  height: 100%;
}

.pitch {
  height: calc(100% - 60px);
  aspect-ratio: 65/105;
  position: relative;
  overflow: hidden;
  top: 50%;
  transform: translate(0, -50%);
}

.pitch-outer-lines {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 3px;
}

.pitch-background {
  background-color: var(--BACKGROUND);
}

.pitch-top-side {
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  margin-top: 3px;
  margin-left: 3px;
  position: relative;
}

.pitch-bottom-side {
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  margin-bottom: 3px;
  margin-left: 3px;
  position: relative;
}

.pitch-center-circle {
  width: calc(100% * (10/105) * 2);
  aspect-ratio: 1;
  border: solid white;
  border-radius: 100%;
  border-width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.pitch-corner {
  width: calc(100% * (2/105));
  aspect-ratio: 1;
  border: solid transparent;
  border-width: 3px;
  border-radius: 100%;
}

.pitch-top-left-corner {
  position: absolute;
  transform: translate(-50%, -50%);
  border-right: solid white;
  border-bottom: solid white;
}

.pitch-top-right-corner {
  position: absolute;
  left: 100%;
  top: 0%;
  transform: translate(-50%, -50%);
  border-left: solid white;
  border-bottom: solid white;
}

.pitch-bottom-left-corner {
  position: absolute;
  top: 100%;
  border-right: solid white;
  border-top: solid white;
  transform: translate(-50%, -75%);
}

.pitch-bottom-right-corner {
  position: absolute;
  top: 100%;
  left: 100%;
  border-left: solid white;
  border-top: solid white;
  transform: translate(-75%, -75%);
}

.pitch-18yd-box {
  position: absolute;
  height: calc(2 * 100% * (17/105));
  aspect-ratio: 40/17;
  border: solid white;
  border-width: 3px;
  display: flex;
  justify-content: center;
}

.pitch-6yd-box {
  position: absolute;
  height: calc(100% * (6/17));
  aspect-ratio: 19/6;
  border: solid white;
  border-width: 3px;
}

.pitch-top-18yd {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -3px);
}

.pitch-bottom-18yd {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -98%);
}

.pitch-top-6yd {
  transform: translateY(-3px);
}

.pitch-bottom-6yd {
  position: absolute;
  top: 100%;
  transform: translateY(-98%);
}

.pitch-penalty-spot {
  position: absolute;
  width: calc(100% * (2/105));
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100%;
}

.pitch-top-spot {
  top: calc(100% * 11/16);
}

.pitch-bottom-spot {
  top: calc(100% * 5/16);
}

.pitch-player-element {
  width: 8%;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin: center;

  > div {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.pitch-possible-positions-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pitch-position-droppable {
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background-color: gray;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
    height: 100%;
  }
}
