#root {
  margin: 0 auto;
  font-size: 18px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

.player-information-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.player-information-sub-container {
  overflow-x: auto;
  scrollbar-color: #000000;
}

.player-information-cards {
  height: 100%;
  column-width: 400px;
  column-gap: 12px;
  column-fill: auto;

  display: inline-block;
}
